.container {
  padding: 0 2rem;
}

.main {
  min-height: 50vh;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.2);
  width: 60%;
  border-radius: 12px;
  padding: 2rem 1.5rem;
}

.title {
  margin: 0;
  line-height: 1;
  font-size: 25px;
}

.post {
  margin-top: 30px;
  border-bottom: 2px solid rgb(233, 231, 231);
  color: rgb(46, 46, 46);
}

.post h2 {
  font-size: 18px;
  margin: 0;
}

.post p {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 10px;
  border-bottom: 10px;
  border-width: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: transparent;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  background-color: #af0fe7;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  text-decoration: none;
  color: #ffffff;
  background-color: #7f02b1;
}
