<!DOCTYPE html>
<html lang="en">
<head>
    <title>User</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../components/navbar') %>
    <a href="/users/create">Register</a>
    <h1>Daftar User (<%=users.length %>)</h1>

    <form action="/users">
        <input type="text" name="keyword">
        <button type="submit">Cari</button>
    </form>

    <ul>
        <% if(users.length > 0) { %>
            <% users.forEach(function(user) { %>
                <li>
                    <a href="users/<%=user._id %>">
                        <%=user.name.toUpperCase() %> 
                    </a>
                </li>
                <% }) %>
        <% } else { %>
            <li>Data User Kosong</li>
        <% } %>
    </ul>
    <footer>
        <p>&copy; 2020 dunia persilatan</p>
    </footer>
</body>
</html>